conciergeKeyControl/ConciergeKeyControl.Api/bin/
conciergeKeyControl/ConciergeKeyControl.Api/obj/
conciergeKeyControl/ConciergeKeyControl.Api/appsettings.Development.json
conciergeKeyControl/ConciergeKeyControl.Application/bin/
conciergeKeyControl/ConciergeKeyControl.Application/obj/
conciergeKeyControl/ConciergeKeyControl.Domain/bin/
conciergeKeyControl/ConciergeKeyControl.Domain/obj/
conciergeKeyControl/ConciergeKeyControl.Infrastructure/bin/
conciergeKeyControl/ConciergeKeyControl.Infrastructure/obj/